<style>
 body {

  background-image: url("http://3.bp.blogspot.com/-DZrjvqLQwEM/UJrIs18IBzI/AAAAAAAAAY8/nZGagkN_Syk/s1600/new_size_farm_final.jpg");
 
  }
  
  .container
  {
  	  margin-top: 100px;
	  opacity: 0.8;
  }

  h1 {
  
  text-align: center;

  }

  h2 {
  	  text-align: center;
  }

  #Lose {
  	  text-align: center;
	  
  }
	 </style>
